@charset "utf-8";*{margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
html{width:100%;height:100%;margin:0;padding:0}
body{margin:0;padding:0; font-family: 'Roboto', sans-serif; font-size:13px;color:#555;line-height:24px;background:#a0e4f9;min-height:100%;overflow-x:hidden}
p{margin:0;padding:0 0 20px 0; font-family: 'Roboto', sans-serif; font-size:14px;color:#333333;line-height:24px;}
h1{margin:0;padding:0}
h2{margin:0;padding:0}
h3{margin:0;padding:0}
h4{margin:0;padding:0}
h5{margin:0;padding:0}
h6{margin:0;padding:0}

.desktop { display:block !important; }
.mobile { display: none !important; }


.affix {
    top: 0;
    width: 100%;
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: 9999999;
    background: #a0e4f9;
    position: fixed;
    padding: 15px 0px;
 border-bottom:1px solid #2f80ed;
}

address,blockquote,dd,div,dl,dt,fieldset,form,frame,frameset{margin:0;padding:0;border:0;outline:0}
label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;outline:0;border:0}
a{text-decoration:none;border:0;outline:0;transition:all .5s;color:inherit}
a:hover,a:focus,a:active{text-decoration:none;border:0;outline:0;transition:all .5s;color:#2f80ed;}
a img{border:0;outline:0}
a:focus{outline:0}
border{border-collapse:collapse}
hr{height:1px;background:#333;border:0}
.clear{clear:both}
.left{float:left}
.right{float:right}
.clearfix:before,.clearfix:after{content:" ";display:table}
.clearfix:after{clear:both}
.clearfix{*zoom:1}
img{max-width:100%;height:auto}
@media \0screen{img{width:auto}
}::-moz-selection{color:#fff;background:#2f80ed}
::selection{color:#fff;background:#2f80ed}
#preloader{position:fixed;width:100%;top:0;left:0;right:0;bottom:0;background-color:#fff;z-index:99999999!important}
#status{width:300px;height:200px;position:absolute;left:50%;top:50%;background-image:url(../images/preloader.svg);background-repeat:no-repeat;background-position:center;margin:-100px 0 0 -150px}
.navigation{float:left; width:40%; padding-top:85px;}
.navigation ul{margin:0;padding:0;list-style:none;text-align:left;}
.navigation ul li{float:none;display:block;vertical-align:top;margin-right:-4px}
.navigation ul li a{color:#fff;padding:0 0px;line-height:40px;display:inline-block;font-size:17px;font-weight:600;text-transform:uppercase}
.navigation ul li:hover a{color:#2f80ed;background-position:0 0}
.navigation ul li{position:relative}
.navigation ul li ul{visibility:hidden;opacity:0;position:absolute;top:100%;left:0;width:100%;transform:translateY(-20%);z-index:-1;transition:all .3s ease-in-out 0s,visibility 0s linear .3s,z-index 0s linear .01s;min-width:200px;background-color:red}
.navigation ul li:hover ul{visibility:visible;opacity:1;z-index:1;transform:translateY(0%);transition-delay:0s,0s,0.3s}
.navigation ul li ul li{display:block;margin-right:0}
.navigation ul li ul li:hover{background-color:black}
a.meanmenu-reveal{display:none}
.mean-container .mean-bar{float:left;width:42px;padding:4px 0;min-height:42px;z-index:999999}
.mean-container a.meanmenu-reveal{width:22px;height:22px;padding:13px 13px 11px 13px;position:absolute;top:0;right:0;cursor:pointer;color:#fff;text-decoration:none;font-size:16px;text-indent:-9999em;line-height:22px;font-size:1px;display:block;font-family:Arial,Helvetica,sans-serif;font-weight:700;background-color:red}
.mean-container a.meanmenu-reveal span{display:block;background:#fff;height:3px;margin-top:3px}
.mean-container .mean-nav{float:left;width:100%;background:#0c1923;margin-top:44px;position:absolute}
.mean-container .mean-nav ul{padding:0;margin:0;width:100%;list-style-type:none}
.mean-container .mean-nav ul li{position:relative;float:left;width:100%}
.mean-container .mean-nav ul li a{display:block;float:left;width:90%;padding:10px 5%;font-size:16px;margin:0;text-align:left;color:#fff;border-top:1px solid #383838;border-top:1px solid rgba(255,255,255,0.5);text-decoration:none;text-transform:uppercase}
.mean-container .mean-nav ul li li a{width:80%;padding:1em 10%;border-top:1px solid #f1f1f1;border-top:1px solid rgba(255,255,255,0.25);opacity:.75;filter:alpha(opacity=75);text-shadow:none!important;visibility:visible}
.mean-container .mean-nav ul li.mean-last a{border-bottom:0;margin-bottom:0}
.mean-container .mean-nav ul li li li a{width:70%;padding:1em 15%}
.mean-container .mean-nav ul li li li li a{width:60%;padding:1em 20%}
.mean-container .mean-nav ul li li li li li a{width:50%;padding:1em 25%}
.mean-container .mean-nav ul li a:hover{background:#252525;background:rgba(255,255,255,0.1)}
.mean-container .mean-nav ul li a.mean-expand{margin-top:1px;width:26px;height:20px;padding:12px!important;text-align:center;position:absolute;right:0;top:0;z-index:2;font-weight:700;background:rgba(255,255,255,0.1);border:none!important;border-left:1px solid rgba(255,255,255,0.4)!important;border-bottom:1px solid rgba(255,255,255,0.2)!important}
.mean-container .mean-nav ul li a.mean-expand:hover{background:rgba(0,0,0,0.9)}
.mean-container .mean-push{float:left;width:100%;padding:0;margin:0;clear:both}
.mean-nav .wrapper{width:100%;padding:0;margin:0}
.mean-container .mean-bar,.mean-container .mean-bar *{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
.mean-remove{display:none!important}
.small_nav{position:relative}
header{padding:30px 0px 30px;}
.logo{font-size:30px; font-weight:700; color:#2f80ed;}
.right_side {text-align:right;}
.right_side a{display:inline-block; color:#0a0e10; text-transform:uppercase; font-size:20px; }
.banner{width:100%; display:block; position:relative;}
.banner img{width:100%;}
.left_pic{float:left; width:50%;}
.right_pic{float:right; width:50%;}
.banner .container{position:absolute; top:0; left:0; right:0; margin:0 auto; }
.right_text{float:right; width:40%; text-align:right;}
.right_text ul{list-style:none; padding:80px 0px 0px; margin:0; }
.right_text ul li{display:block; padding:0px 0px 20px; font-size:17px; font-weight:600; color:#fff; text-transform:uppercase;}
.social{position:absolute; bottom:79px; right:10%;}
.social ul{list-style:none; padding:0; margin:0;}
.social ul li{display:inline-block; padding:0px 2px 0px; color:#fff; transition:0.5s; }
.social ul li a .fa{width:40px; height:40px; border-radius:50%; background:#fff; color:#2f80ed; font-size:20px; text-align:center; padding-top:12px; transition:0.5s;}
.social ul li a .fa:hover{color:#fff; background:#2f80ed;}
.what_we{padding:70px 0px 100px;}
.inner_cont h3{font-size:30px; font-weight:700; color:#2f80ed; margin-bottom:25px;text-transform: uppercase; }
.inner_cont h2{font-size:50px; font-weight:700; color:#2f80ed; margin-bottom:50px;text-transform: uppercase; }

.we_box{border:1px solid #2f80ed; padding:100px 10px 20px 70px;}
.lorem{text-align:center; padding:60px 25px 98px;         box-shadow: 5px 4px 12px 0px #75bef4;
    width: 96%; position:relative;}
.loremhov{position:absolute; top:0; left:0; width:100%; height:100%; border:1px solid #2f80ed; padding:100px 10px 20px 70px; display:none; text-align:left; transition:0.5s;}	
.lorem:hover .main{display:none;}
.lorem:hover .loremhov{display:block;}
.imgsec img{width:50%; margin:0 auto;}
.imgsec {margin-bottom:30px;}
.slick-slide {
   
    padding: 0px 0px 13px;
}
.lorem p{margin:0px 0px 30px; padding:0px;}
.lorem h4{color:#000; text-transform:uppercase; letter-spacing:1px; font-size:20px; font-weight:600; }
.lft_pad{padding:0px 110px 0px 0px;}

.contsruct{margin-bottom:80px;}
.wholeconst .contsruct:nth-child(even) .col-sm-7{float:right; text-align:right;}
.wholeconst .contsruct:nth-child(even) .col-sm-5{float:left; }

.wholeconst .contsruct:nth-child(even) .lft_pad{padding:0px 0px 0px 110px;}

.service{padding:0px 0px 80px;}
.text_slide{padding:30px 25px 50px; /*box-shadow:3px 3px 10px 0px #000;*/ box-shadow:1px 1px 5px 0px #999;}
.carousel-inner>.item{padding:10px}
.carousel-indicators {
    bottom: 31px;
}

.carousel-indicators li {border-color:#ddd; background:#ddd; width:12px; height:12px; margin:auto;}
.carousel-indicators li.active{background:#2f80ed; border-color:#2f80ed; }
.extra_pointer {border:none!important; background:none !important; border-color:none!important;}
.extra_pointer li{display:block !important; padding:0px 0px 12px; width:auto !important; height:auto !important; cursor:pointer; text-transform: uppercase; font-weight:700; color:#000; font-size:14px;}
.extra_pointer {position:static; text-align:right; padding:50px 0px 0px; }
.extra_pointer li.active{color:#2f80ed;}
.extra_pointer li span{display:inline-block !important;}
.client {padding:0px 0px 80px;}
.client h2{text-align:right;}


.owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}

.slide-progress {
  width: 0;
  max-width: 100%;
  height: 3px;
  background: #1e73be;
}
.bar{
  background: #fff;
  height: 3px;
  width: 100%;
}

.maincont{padding:100px 160px 80px 180px; text-align:center;  position:relative;}
.maincont h3{color:#000;}
.maincont p{padding-bottom:38px;}
.owl-demo .item{padding:10px;}
.maincont .fas{position:absolute; top:20px; left:20px; font-size:100px; color:#1e73be;}
.owl-demo{ box-shadow:/*5px 5px 29px 0px #000*/ 1px 1px 5px 0px #999; padding:10px 10px 30px;}
footer ul{list-style:none; padding:0; margin:0; width:100%; margin:0px 0px 30px;}
footer ul li{display:inline-block; width:49%; color:#000; font-weight:600; font-size:16px; text-transform: uppercase; padding:0px 0px 10px;}
footer ul li:nth-child(2){text-align:right;}
footer ul li:nth-child(4){text-align:right;}
footer ul li:nth-child(6){text-align:right;}
footer .container{position:relative;}
.inputarea{position:absolute; width:36%; margin:0 auto; left:0; right:0; top:30px;}
.inputarea input[type=email]{width:100%; padding:6px 134px 6px 12px ; outline:none; border:none; color:#000; height:40px; }
.inputarea input[type=submit]{width:auto; display:inline-block; height:40px; padding:6px 22px; position:absolute; right:0; top:0; font-weight:600; font-size:20px; color:#fff; background:#2f80ed; border:none; text-transform: uppercase; outline:none;}
.newsletterbtn{width:auto; display:inline-block; height:40px; padding:6px 22px; position:absolute; right:0; top:0; font-weight:600; font-size:17px; color:#fff; background:#2f80ed; border:none; text-transform: uppercase; outline:none;}
footer p{padding:0px; text-align:center; text-transform: uppercase; color:#000; font-size:15px; font-weight:600;}
footer{position:relative; padding:40px 0px;}
footer:before{content:""; width:40%; left:0; top:0; background:#000; height:1px; position:absolute;}
footer:after{content:""; width:40%; right:0; top:0; background:#000; height:1px; position:absolute;}
.innercons{padding:150px 0px 0px;}
.innercons .col-sm-5{text-align:right;}
.going{padding:50px 0px 100px;}
.ingoing {padding:20px; text-align:center; border:1px solid #2f80ed; width:98%;}
.ingoing h4{font-weight:600; font-size:18px; line-height:24px; color:#2f80ed; margin-bottom:20px; text-transform:uppercase;}
.ingoing img{width:78%; margin:0 auto 20px;}
.ingoing ul{list-style:none; padding:0; margin:0; display:flex; margin:0 auto; width:80%;}
.ingoing ul li{display:inline-block; flex:1; font-size:13px; font-weight:600; color:#2f80ed; text-transform:uppercase; text-align:left;}
.ingoing ul li:nth-child(2){color:#000; padding-left:80px; }

.going .slick-prev{
transform:none;
		bottom:-50px;
		top:auto;
		margin:0 !important;
		left:0;
}
	.going .slick-next{
		transform:none;
		bottom:-50px;
		top:auto;
		margin:0 !important;
		right:0;
	}
	.menu .logo{margin-left:40px;}
	.menu .container{position:relative;}
	.micon {position:absolute; top:-5px; left:0; width:3%; cursor:pointer;}
	
	.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2f80ed;
   
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: left;
    margin-top: 30px;
	left:30px;
}

.overlay a {
    padding: 0px 0px 18px;
    text-decoration: none;
    font-size:28px;
    color: #fff;
    display: block;
    transition: 0.3s;
	text-transform: uppercase;
	font-weight:600;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.shortingarea{padding:50px 0px 80px;}
.grid{display:flex; flex-wrap:wrap; }
.element-item{width: 43%; margin-bottom:50px; float:left; margin-right:60px;}
.element-item img{width:100%;}
.button-group{margin-bottom:40px;}

.button-group button{background:none; border:none; font-size:17px; font-weight:600; color:#000; text-transform: uppercase; outline:none; padding:0px 8px; }
.button-group button:first-child{padding:0px 30px 0px 0px;}
.button:active, .button.is-checked {
    color: #28F;
}
.blgdtls h2{font-size:35px; margin-bottom:25px;}
.blgdtls h4{font-size:20px; margin-bottom:18px; text-transform: uppercase;}
.slick-dots li {
    position: relative;
    display: block;
    width: 15px;
    height: 15px;
    margin: 6px 0px;
    padding: 0;
    cursor: pointer;
    background: #2f80ed;
    border: 1px solid #2f80ed;
    border-radius: 50%;
	-webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	
}
.slick-dots {
    position: absolute;
    bottom: auto;
    display: block;
    float:right;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;
    top: 30%;
    right: 0;
	    width: 31px;
}
li.slick-active{ background: #fff;
    border: 1px solid #fff;}
.slick-dots li button:before {
    
    color: transparent;
}
.pro{display:none;}

.innerban .container{position:absolute;left:0; right:0; margin:0 auto; top:30px; }
 .inbancont h1{font-weight:700; color:#fff; font-size:50px; text-transform:uppercase;  letter-spacing:2px;} 
 
 .element-item img{margin-bottom:20px;}
 .element-item h5{font-size:18px; text-transform:uppercase; margin-bottom:8px; color:#28F; }
 .element-item h6{font-size:14px; color:#000; }
 .jalaton{display:none;}
 .jala{display:none;}
 .right_side a:last-child{display:none;}
 
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width:1199px){
.slick-prev{
transform:none;
		bottom:-50px;
		top:auto;
		margin:0 !important;
		left:0;
}
 .slick-next{
		transform:none;
		bottom:-50px;
		top:auto;
		margin:0 !important;
		right:0;
	}
	.we_box {
    
    padding: 30px 20px;
}
.inner_cont h3 {
    font-size: 25px;
}
.what_we {
    padding: 60px 0px;
}

.lorem {
    text-align: center;
    padding: 50px 25px;
}
.inner_cont h2 {
    font-size: 31px;
   
    margin-bottom: 38px;
   
}
.lft_pad {
    padding: 0px 0px 0px 0px;
}
.wholeconst .contsruct:nth-child(even) .lft_pad {
    padding: 0px 0px 0px 0px;
}
.maincont {
    padding: 30px 30px 30px 50px;
   
}
.maincont .fas {
  
    font-size: 20px;
}
.ingoing ul li:nth-child(2) {
    
    padding-left: 30px;
}
.element-item {
    width: 40%;
    margin-bottom: 42px;
    float: left;
    margin-right: 59px;
}
.loremhov {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    padding: 20px 14px;
    display: none;
    text-align: left;
    transition: 0.5s;
}
.ban .slick-arrow{display:none !important;}
}
@media only screen and (max-width:992px){
	.element-item {
    width: 47%;
    margin-bottom: 25px;
    float: left;
    margin-right: 18px;
}
}
@media only screen and (max-width:767px){
    
    .desktop { display:none !important; }
    .mobile { display: inline-block !important; }
    
	.we_box{margin-bottom:15px;}
	header {
    padding: 15px 0px;
   
}
.logo{margin-bottom:0px; margin-left:23px; font-size:19px;}
.right_side {
    text-align: right;
}
.banner .container {
    position: static;
	padding:0px;
   
}
.banner{position:relative;}
.social {
   
    top: 20px;
}
.navigation {
    float: none;
    width: 100%;
    padding-top: 0;
}
.mean-container .mean-nav {
    float: left;
    width: 100%;
    background: #2f80ed;
    margin-top: 44px;
    position: absolute;
	z-index:9999;
}
.mean-container a.meanmenu-reveal {
    
    background-color: #2f80ed;
}
.banner_contact{padding:10px 14px;}
.right_text {
    float: none;
    width: 100%;
    text-align:left;
}
.right_text ul li {
    
    padding: 0px 0px 13px;
    font-size: 13px;
    
}
.ula{display:none;}
	.element-item {
    width: 45%;
    margin-bottom: 25px;
    float: left;
    margin-right: 18px;
}
.pro{display:block;}
.right_text{display:none;}
.banner_contact{display:none;}
.jalaton{display:block;}
.jala{display:block;}
.right_side a:first-child{display:none;}
.right_side a:last-child{display:block;}
.micon {
  
    width: 8% ;
	top:-1px;
   
}
}


@media only screen and (max-width:639px){
.what_we {
    padding: 30px 0px;
}
.right_text ul li {
    
    padding: 0px 0px 13px;
   
   text-align:center;
    
}
.lorem{width:100%; box-shadow: -2px 2px 17px 0px #75bef4;}
.slick-prev{
transform:none;
		bottom:-42px;
		    z-index: 99999;
		
}
 .slick-next{
		transform:none;
		bottom:-42px;
		
	}
	.contsruct{padding:30px 0px; margin:0px;}
	.carousel-inner>.item {
    padding: 2px;
}
.text_slide {
    padding: 25px 14px;
}
.carousel-indicators {
    bottom: 5px;
}
 .extra_pointer li {
    display: inline-block !important;
    padding: 0px 4px 12px;
   
    font-size: 12px;
}
.mainban{position:relative;}
.social {
    position: absolute;
    bottom: 56px;
    right: 10%;
    top:auto;
}
.extra_pointer {
    position: static;
    text-align: center;
    padding: 20px 0px 0px;
}
.service {
    padding: 30px 0px;
}
.maincont {
    padding: 20px 14px;
}
.owl-demo .item {
    padding: 0px;
}
.inputarea {
    position: static;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30px;
	margin-bottom:15px;
}
.inputarea input[type=submit] {
    
    right: 0px;
	font-size: 12px;
}
.ingoing ul li {
    
    font-size: 12px;
}
.ingoing ul li:nth-child(2) {
 
    padding-left: 5px;
}
.micon {
    position: absolute;
    top: -2px;
    left: 5px;
    width: 8%;
    cursor: pointer;
}
.jala{width:15%;}
.menu .logo {
    margin-left: 30px;
}
.overlay a {
   
    font-size: 20px;
}
.button-group button:first-child {
    padding: 0px 2px 0px 0px;
}
.button-group button {
    
    font-size: 14px;
   
    padding: 0px 6px;
}
.button-group {
    margin-bottom: 28px;
}
.element-item {
    width: 45%;
    margin-bottom: 15px;
    float: left;
    margin-right: 12px;
}
.maincont .fas {
    position: absolute;
    top: 10px;
    left: 2px;
}
.slick-dotted.slick-slider {
    margin-bottom: 0px;
}
.social {
   
    bottom: 29px;
}
.innerban .container{position:absolute; top:20px; left:5px;}
.inbancont h1 {
   
    font-size: 28px;
}
.element-item h5 {
    font-size: 15px;
   
    margin-bottom: 6px;
   
}
.element-item img {
    margin-bottom: 11px;
}
.element-item h6 {
    font-size: 11px;
}
.shortingarea {
    padding: 40px 0px 45px;
}
.social ul li a .fa {
    width: 30px;
    height: 30px;

    font-size: 16px;
    
    padding-top: 8px;
   
}
.inputarea input[type=submit] {
    
    height: 40px;
    padding: 6px 11px;
}
footer ul li {
    
    font-size: 12px;
   
    padding: 0px 0px 1px;
}
.inputarea {
    position: relative;
    width: 84%;
    margin: 0 auto;
    left: 8%;
    right: 0;
    top: 0px;
    margin-bottom: 15px;
    display: inline-block;
}
.inputarea input[type=email] {
    width: 100%;
    padding: 6px 83px 6px 12px;
}
footer p {
   
    font-size: 11px;
    
    line-height: 18px;
}
}

